.discover {
	margin-bottom: 100px;
	&__top {
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__center {
		.banner {
			margin-top: 144px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;
			padding: 0 160px;
			color: #213357;
			@media only screen and (max-width: 1200px) {
				padding: 0 80px;
			}
			@media only screen and (max-width: 992px) {
				padding: 0 40px;
			}
			@media only screen and (max-width: 768px) {
				padding: 0 15px;
			}
			@media only screen and (max-width: 576px) {
				margin-top: 60px;
			}
			&__img {
				width: 100%;
			}
			&__title {
				letter-spacing: 0.2em;
				text-transform: uppercase;
				font-weight: 400;
				font-size: 36px;
				@media only screen and (max-width: 992px) {
					font-size: 30px;
				}
				@media only screen and (max-width: 768px) {
					font-size: 24px;
					text-align: center;
				}
				@media only screen and (max-width: 576px) {
					font-size: 19px;
				}
			}
			&__subtitle {
				font-weight: 400;
				font-size: 16px;
				text-align: center;
			}
		}
	}
	&__bottom {
		display: grid;
		margin-top: 150px;
		grid-template-columns: 50% 50%;
		@media only screen and (max-width: 800px) {
			display: none;
		}
	}
	.item__img {
		width: 100%;
		height: 100%;
	}

	.grid__Item {
		.img {
			padding-top: 24px;
			img {
				width: 100%;
				padding: 0 15px;
				object-fit: contain;
			}
		}
		.info {
			color: #213357;
			width: 616px;
			margin: 0 auto;
			padding-top: 30px;
			text-align: left;
			margin-top: 140px;
			@media only screen and (max-width: 1250px) {
				width: 100%;
				padding: 0 15px;
			}
			&__title {
				letter-spacing: 0.2em;
				text-transform: uppercase;
			}
			&__img {
				width: 100%;
				object-fit: contain;
			}
			.info__buttons {
				.btn {
					width: 156px;
					height: 48px;
					border: none;
					color: #fff;
					cursor: pointer;
					text-transform: uppercase;
					margin-top: 50px;
				}
				.btn__book {
					background: #c8bd90;
					transition: background 0.6s ease;
					margin-right: 40px;
					&:hover {
						background: #d8c67c;
					}
				}
				.btn__room {
					color: #c8bd90;
					border: 1px solid #c8bd90;
					background-color: #fff;
					transition: background 0.6s ease;
					&:hover {
						background: #d8c67c;
						color: #fff;
					}
				}
			}
		}
	}
}
